* {
box-sizing: border-box;
  background: black;
}

body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(images/wasteland.png);
  background-repeat: no-repeat;
  background-position: center;
  /* width: 700px; */
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  text-align: center;
  background-image: url(./images/pngegg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 100px;
  margin: 0 auto;
  height: 250px;

}

.tracker {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 40px;
}

.lives {  
}

.score {
}
.grid-container {
  display: flex;
  height: 100%;
  margin: 0 auto;
}


.grid-wrapper{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;

}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  height: 600px;
  width: 600px;

}

.grid div {
  border: 1px solid grey;
  flex-grow: 1;
  height: 10%;
  width:10%;
  color:grey;
}

.controls {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}

.movement {
  display: flex;
  align-items: center;
}


.left {
  text-align: center;
  width: 60px;
  height: 60px;
  background: red;
  color: white;
}

.middle {
  width: 80px;
  height: 80px;
  background: url('./images/kisspng-joystick-game-controllers-computer-icons-arcade-co-5b1845ccdd0373.3147148015283173889053.png');
  background-size: 80px 80px;
  background-repeat: no-repeat;
  background-position: center;


}


.right {
  text-align: center;
  width: 60px;
  height: 60px;
  background: blue;
  color: white;
}

.fire {

}

.shoot{
  width: 140px;
  height:60px;
  background: green;
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;

}

.footer {
padding: 30px;
}
.start {
  display:flex;
  justify-content: space-around;
  padding:40px;
}

.reset {
  width: 100px;
  height: 60px;
  background: yellow;
  display:flex;
  justify-content: center;
  align-items: center;

}

.play { 
  width: 100px;
  height: 60px;
  background: yellow;
  display:flex;
  justify-content: center;
  align-items: center;
}

/* player CSS */
.grid div.player {
  background: url(images/NicePng_daryl-dixon-png_1695079.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid div.shot {
  background: url(images/arrow-bow-png-images-free-download-arrow-png-572850.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* alien CSS */
.grid div.alien {
  background: url(images/zombie.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid div.bomb {
  background: url(images/zprojectile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}